html{
    box-sizing: border-box;
    font-size: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}
*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a, a:hover, a:visited{
    text-decoration: none;
}
.flex{
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }
    &-jc-c{
        justify-content: center;
    }
    &-ai-c{
        align-items: center;
    }
}
.grid{
    display: grid;

    &-ai-c{
        align-items: center;
    }
}

// Hide nav links for mobile display
.hide-mobile{
    @include breakpoints-down(medium){
        display: none;
    }
}
.hide-small{
    @include breakpoints-down(x-small){
        display: none;
    }
}

// Hide toggle button for desktop display
.hide-desktop{
    @include breakpoints-up(large){
        display: none;
    }

}

// Lock scroll when dropdown menu is open
.no-scroll{
    overflow: hidden;
}
