nav{
    position: relative;
}
.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/hero.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-bottom: 5rem;

    &.open{
        .overlay{
            display: block;
        }
        .header-menu{
            display: block;
        }
        .header-dropdown{

            >span:first-child{
                transform: rotate(45deg);
            }
        
            >span:nth-child(2){
                opacity: 0;
            }
        
            >span:last-child{
                transform: rotate(-45deg);
            }
    
        }
    }

    &-menu{
        opacity: 0;
        display: none;
        position: absolute;
        top: 100px;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        background-color: #b8c6db;
        background-image: linear-gradient(to bottom, #b8c6db 0%, #f5f7fa 74%); 
        margin-top: 1.5rem;
        padding: 1.625rem;
        border-radius: 5px;
        > a{
            display: block;
            color: #101010;
            padding: 0.75rem;
            text-align: center;
            transition: all 300ms ease-in-out;
            &:hover{
                color: $linkColor;
            }
        }
    }

    &-dropdown{

        @include breakpoints-down(small){
            margin-right: 0;
        }

        > span{
            margin-right: 1.5rem;
            display: block;
            width: 26px;
            height: 2px;
            background-color: #101010;
            transition: all 200ms ease-in-out;
            transform-origin: 4px 1px;

            &:not(:last-child){
                margin-bottom: 4px;
            }
        }

    }

    .overlay{
        display: none;
        opacity: 0;
        position: fixed;
        top: 100px;
        right: 0;
        bottom: 0;
        left: 0;
        background-attachment: fixed;
        background-image: linear-gradient(#101010, transparent);
    }
}
hr{
    border: 0;
    border-bottom: 0.5px solid rgba(199, 199, 199, 0.5);
}
.navbar{

    padding: 1.75rem 3.5rem;
    font-family: 'Poppins';

    #hamburger{
        order: 3;
    }
    #logo{
        order: 0;
        > a{
            color: whitesmoke;
        }
        font-size: 1.75rem;
        font-weight: 200;
        letter-spacing: 1.2px;
    }
    &-links{
        font-size: 0.9rem;
        > a{
            margin: 0 2.5rem;
            color: whitesmoke;
            transition: all 300ms ease-in-out;
            &:hover{
                color: $linkColor;
            }
        }
    }
    &-btn{
        @include breakpoints-down(medium){
            padding: 0.5rem 2rem;
        }
        @include breakpoints-down(small){
            padding: 0.5rem 2.75rem;
        }
        order: 2;
        color: #101010;
        padding: 0.5rem 1.25rem;
        border-radius: 25px;
        background-color: $mainColor;
        font-weight: 700;
        transition: all 300ms ease-in-out;
        &:hover{
            background-color: $linkColor;
        }
    }
}

.header-text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5rem;
    color: whitesmoke;
    text-align: center;

    .subtitle{
        @include breakpoints-down(medium){
            font-size: 1.25rem;
        }
        @include breakpoints-down(small){
            font-size: 1.15rem;
        }
        @include breakpoints-down(x-small){
            font-size: 1rem;
            margin-bottom: 1.75rem;
        }
        font-size: 1.5rem;
        font-weight: 200;
        margin-bottom: 2.5rem;
    }
    .title{
        @include breakpoints-down(medium){
            font-size: 3rem;
        }
        @include breakpoints-down(small){
            font-size: 2.25rem;
        }
        @include breakpoints-down(x-small){
            font-size: 2rem;
            margin-bottom: 1.85rem;
        }
        font-family: 'Montserrat';
        font-size: 3.5rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        margin-bottom: 2rem;
    }
    .slogan{
        @include breakpoints-down(medium){
            font-size: 0.85rem;
        }
        @include breakpoints-down(small){
            font-size: 0.75rem;
        }
        
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-bottom: 0.5rem;
    }
}

.header-booking{
    @include breakpoints-down(medium){
        top: 74%;
    }
    @include breakpoints-down(small){
        top: 80%;
    }
    align-items: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;

    > div{
        margin-right: 3rem;
    }
    .grid{
        @include breakpoints-down(medium){
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 1.5rem;
            
            #dates{
                justify-content: space-around;
            }
        }
        @include breakpoints-down(small){
            gap: 1rem;
            margin-right: 0;
        }
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        .flex{
            @include breakpoints-up(small){
                justify-content: space-between;
                align-items: center;
            }
            @include breakpoints-down(x-small){
                flex-direction: column;
                justify-content: center;
            }
            label{
                @include breakpoints-down(x-small){
                    margin-bottom: 0.85rem;
                    font-size: 0.85rem;
                }
                color: #fff;
            }
            input{
                @include breakpoints-down(x-small){
                    margin-top: 0.35rem;
                    margin-bottom: 1.25rem;
                }
                font-family: 'Raleway';
                font-size: 0.85rem;
                margin-top: 0.5rem;
                display: block;
                border: 0;
                border-bottom: 0.5px solid rgba(199, 199, 199, 0.5);
                background-color: inherit;
                &:focus{
                    outline: none;
                }
            }
            .check-in{
                @include breakpoints-down(x-small){
                    margin-right: 0;
                }
                margin-right: 2.5rem;
            }
            
        }
    }
    #adult{
        @include breakpoints-down(x-small){
            margin-right: 0;
        }
        margin-right: 2.5rem;
        padding: 0.5rem;
        border: 0.5px solid rgba(199, 199, 199, 0.5);
        color: whitesmoke;
        &::placeholder{
            color: white;
        }
    }
    #child{
        @include breakpoints-down(x-small){
            margin-right: 0;
        }
        margin-right: 2.5rem;
        padding: 0.5rem;
        border: 0.5px solid rgba(199, 199, 199, 0.5);
        color: whitesmoke;
        &::placeholder{
            color: white;
        }
    }
    .search-btn{
        > a{
            color: black;
            background-color: whitesmoke;
            padding: 0.5rem 1.25rem;
            font-weight: 700;
            transition: all 300ms ease-in-out;
            &:hover{
                background-color: $mainColor;
            }
        }
    }
}

.rooms{
    .cs-btn{
        text-align: center;
        @include breakpoints-down(small){
            font-size: 1rem;
        }
    }
    margin-bottom: 2rem;
    @include breakpoints-down(medium){
        .room-tiles{
            .grid{
                grid-template-columns: repeat(2, 1fr);
            }
        } 
    }
    @include breakpoints-down(small){
        .room-tiles{
            .grid{
                grid-template-columns: repeat(1, 1fr);
            }

        }
    }
    &-title{
        @include breakpoints-down(medium){
            font-size: 2.25rem;
            width: 75%;
        }
        margin: 0 auto 5rem auto;
        width: 50%;
        font-size: 2.75rem;
        font-weight: 700;
        letter-spacing: 1.2px;
        text-align: center;

        > p{
            @include breakpoints-down(medium){
                font-size: 0.85rem;
            }
            margin-top: 0.5rem;
            color: #808080;
            font-size: 1rem;
            font-weight: 200;
        }

        > hr{
            width: 0;
            border: 0;
            border-bottom: 5px solid black;
            margin: 2.5rem auto;
            animation: hrWiden 2s ease-in-out forwards;
        }

    }

    &-tiles{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .rooms-top{
            margin-bottom: 3rem;
        }
        > .grid{
            @include breakpoints-down(small){
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(3, 1fr);
            }

            grid-template-columns: repeat(3, 1fr);
            > .flex{
                @include breakpoints-down(small){
                    margin-bottom: 3rem;
                }
                flex-direction: column;
                transition: all 300ms ease-in-out;
                > img{
                    @include breakpoints-down(large){
                        height: 300px;
                        width: 300px;
                    }
                    @include breakpoints-down(medium){
                        height: 250px;
                        width: 250px;
                    }
                    @include breakpoints-down(55rem){
                        height: 220px;
                        width: 220px;
                    }
                    @include breakpoints-down(small){
                        height: 300px;
                        width: 300px;
                    }
                    height: 350px;
                    width: 350px;
                    margin-bottom: 1.5rem;
                    border-radius: 10px;
                }
                &:hover{
                    transform: scale(1.1);
                }
                .room-title{
                    margin-bottom: 0.5rem;
                    font-size: 1.25rem;
                    font-weight: 400;
                    letter-spacing: 1.2px;
                }
                .room-price{
                    color: $linkColor;
                    font-size: 1.5rem;
                    font-weight: 700;
                    letter-spacing: 1.5px;
                    > span:first-of-type{
                        margin-right: 0.25rem;
                    }
                    > span:last-of-type{
                        font-size: 1.25rem;
                    }
                }
                
            }
        }
    }
}

.facilities{
    padding: 1.5rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/royal.jpeg);
    background-size: cover;
    background-position: center;
    color: white;

    &-grid{
        @include breakpoints-down(medium){
            grid-template-columns: repeat(1, 1fr);
        }
        grid-template-columns: repeat(2, 1fr);
    }

    &-title{
        @include breakpoints-down(medium){
            font-size: 2.25rem;
        }
        @include breakpoints-down(small){
            font-size: 1.75rem;
        }
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        padding: 1.5rem;
    }

    .facility{
        @include breakpoints-down(medium){
            text-align: center;
        }
        padding: 1.75rem;
        &-title{
            @include breakpoints-down(small){
                font-size: 1.25rem;
            }
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 1.25rem;
            > i{
                margin-right: 1.25rem;
            }

        }
        &-body{
            @include breakpoints-down(small){
                font-size: 0.75rem;
                line-height: 1.3;
            }
            font-weight: 200;
            color: #aaaaaa;
            text-align: justify;
        }
    }
}

.excerpts{
    background-color: whitesmoke;
    text-align: center;
    padding: 2.5rem 0.5rem 2.5rem 0.5rem;
    &-title{
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-size: 2.25rem;
        letter-spacing: 2px;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        @include breakpoints-down(medium){
            margin-bottom: 1.25rem;
            font-size: 1.75rem;
        }
        @include breakpoints-down(small){
            font-size: 1.25rem;
        }
    }
    &-body{
        margin: auto;
        width: 90%;
        color: #808080;
        font-family: 'Raleway';
        font-size: 1.5rem;
        letter-spacing: 1.5px;
        @include breakpoints-down(medium){
            width: 85%;
            font-size: 1.5rem;
        }
        @include breakpoints-down(small){
            font-size: 0.85rem;
        }

        > i{
            font-size: 1.75rem;
            color: #101010;
            padding: 0 1rem;
            @include breakpoints-down(small){
                font-size: 1.25rem;
            }
        }  
    }
    &-image{
        .fa-chrome{
            font-size: 1.75rem;
            margin: 0.75rem 0;
        }
        figcaption{
            @include breakpoints-down(small){
                font-size: 0.75rem;
            }
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 2.5rem;
        }
    }
    
}

#viewmore{
    border-radius: 0;
    font-size: 1.35rem;
    margin: 4.5rem 0 4.5rem 0;
    @include breakpoints-down(small){
        font-size: 1rem;
    }
}

.footer{
    padding: 1.5rem;
    text-align: center;
    background-color: #101010;
    color: white;

    // For desktop
    @include breakpoints-up(medium){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;

        .footer-socials{
            font-size: 2.25rem;
            margin-bottom: 0;
        }
        .footer-contact{
            margin-bottom: 0;
        }
    }
    &-contact{

        > a{
            color: #808080;
            display: block;
            margin-bottom: 1.25rem;
        }
        #footer-link{
            color: whitesmoke;
            font-family: 'Montserrat';
            font-size: 1.25rem;
            font-weight: 700;
            transition: all 300ms ease-in-out;
            
            &:hover{
                color: $linkColor;
            }
        }

    }
    &-socials{
        font-size: 1.25rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        > a {
            color: whitesmoke;
            &:not(:last-child){
            margin-right: 1.25rem;
            }
        }
    }
}
#footer-disclaimer{
    color: #808080;
    letter-spacing: 1px;
}
