@-webkit-keyframes hrWiden {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes hrWiden {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

@-webkit-keyframes showup {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.75;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.75;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, a:hover, a:visited {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-mobile {
    display: none;
  }
}

@media (max-width: 39.9375em) {
  .hide-small {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-desktop {
    display: none;
  }
}

.no-scroll {
  overflow: hidden;
}

.more-btn {
  letter-spacing: 3px;
  text-decoration: underline;
  font-size: 1.5rem;
  font-family: 'Montserrat';
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.more-btn > a {
  color: #101010;
}

.more-btn > a:hover {
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  color: #09c0fa;
}

nav {
  position: relative;
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../assets/hero.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/hero.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: 5rem;
}

.header.open .overlay {
  display: block;
}

.header.open .header-menu {
  display: block;
}

.header.open .header-dropdown > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header-dropdown > span:nth-child(2) {
  opacity: 0;
}

.header.open .header-dropdown > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-menu {
  opacity: 0;
  display: none;
  position: absolute;
  top: 100px;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #b8c6db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b8c6db), color-stop(74%, #f5f7fa));
  background-image: linear-gradient(to bottom, #b8c6db 0%, #f5f7fa 74%);
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
}

.header-menu > a {
  display: block;
  color: #101010;
  padding: 0.75rem;
  text-align: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header-menu > a:hover {
  color: #09c0fa;
}

@media (max-width: 47.9375em) {
  .header-dropdown {
    margin-right: 0;
  }
}

.header-dropdown > span {
  margin-right: 1.5rem;
  display: block;
  width: 26px;
  height: 2px;
  background-color: #101010;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform-origin: 4px 1px;
          transform-origin: 4px 1px;
}

.header-dropdown > span:not(:last-child) {
  margin-bottom: 4px;
}

.header .overlay {
  display: none;
  opacity: 0;
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#101010), to(transparent));
  background-image: linear-gradient(#101010, transparent);
}

hr {
  border: 0;
  border-bottom: 0.5px solid rgba(199, 199, 199, 0.5);
}

.navbar {
  padding: 1.75rem 3.5rem;
  font-family: 'Poppins';
}

.navbar #hamburger {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.navbar #logo {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  font-size: 1.75rem;
  font-weight: 200;
  letter-spacing: 1.2px;
}

.navbar #logo > a {
  color: whitesmoke;
}

.navbar-links {
  font-size: 0.9rem;
}

.navbar-links > a {
  margin: 0 2.5rem;
  color: whitesmoke;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.navbar-links > a:hover {
  color: #09c0fa;
}

.navbar-btn {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  color: #101010;
  padding: 0.5rem 1.25rem;
  border-radius: 25px;
  background-color: #ffb647;
  font-weight: 700;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@media (max-width: 63.9375em) {
  .navbar-btn {
    padding: 0.5rem 2rem;
  }
}

@media (max-width: 47.9375em) {
  .navbar-btn {
    padding: 0.5rem 2.75rem;
  }
}

.navbar-btn:hover {
  background-color: #09c0fa;
}

.header-text {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 5rem;
  color: whitesmoke;
  text-align: center;
}

.header-text .subtitle {
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 2.5rem;
}

@media (max-width: 63.9375em) {
  .header-text .subtitle {
    font-size: 1.25rem;
  }
}

@media (max-width: 47.9375em) {
  .header-text .subtitle {
    font-size: 1.15rem;
  }
}

@media (max-width: 39.9375em) {
  .header-text .subtitle {
    font-size: 1rem;
    margin-bottom: 1.75rem;
  }
}

.header-text .title {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin-bottom: 2rem;
}

@media (max-width: 63.9375em) {
  .header-text .title {
    font-size: 3rem;
  }
}

@media (max-width: 47.9375em) {
  .header-text .title {
    font-size: 2.25rem;
  }
}

@media (max-width: 39.9375em) {
  .header-text .title {
    font-size: 2rem;
    margin-bottom: 1.85rem;
  }
}

.header-text .slogan {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 0.5rem;
}

@media (max-width: 63.9375em) {
  .header-text .slogan {
    font-size: 0.85rem;
  }
}

@media (max-width: 47.9375em) {
  .header-text .slogan {
    font-size: 0.75rem;
  }
}

.header-booking {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: whitesmoke;
}

@media (max-width: 63.9375em) {
  .header-booking {
    top: 74%;
  }
}

@media (max-width: 47.9375em) {
  .header-booking {
    top: 80%;
  }
}

.header-booking > div {
  margin-right: 3rem;
}

.header-booking .grid {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (max-width: 63.9375em) {
  .header-booking .grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .header-booking .grid #dates {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 47.9375em) {
  .header-booking .grid {
    gap: 1rem;
    margin-right: 0;
  }
}

@media (min-width: 40em) {
  .header-booking .grid .flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 39.9375em) {
  .header-booking .grid .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header-booking .grid .flex label {
  color: #fff;
}

@media (max-width: 39.9375em) {
  .header-booking .grid .flex label {
    margin-bottom: 0.85rem;
    font-size: 0.85rem;
  }
}

.header-booking .grid .flex input {
  font-family: 'Raleway';
  font-size: 0.85rem;
  margin-top: 0.5rem;
  display: block;
  border: 0;
  border-bottom: 0.5px solid rgba(199, 199, 199, 0.5);
  background-color: inherit;
}

@media (max-width: 39.9375em) {
  .header-booking .grid .flex input {
    margin-top: 0.35rem;
    margin-bottom: 1.25rem;
  }
}

.header-booking .grid .flex input:focus {
  outline: none;
}

.header-booking .grid .flex .check-in {
  margin-right: 2.5rem;
}

@media (max-width: 39.9375em) {
  .header-booking .grid .flex .check-in {
    margin-right: 0;
  }
}

.header-booking #adult {
  margin-right: 2.5rem;
  padding: 0.5rem;
  border: 0.5px solid rgba(199, 199, 199, 0.5);
  color: whitesmoke;
}

@media (max-width: 39.9375em) {
  .header-booking #adult {
    margin-right: 0;
  }
}

.header-booking #adult::-webkit-input-placeholder {
  color: white;
}

.header-booking #adult:-ms-input-placeholder {
  color: white;
}

.header-booking #adult::-ms-input-placeholder {
  color: white;
}

.header-booking #adult::placeholder {
  color: white;
}

.header-booking #child {
  margin-right: 2.5rem;
  padding: 0.5rem;
  border: 0.5px solid rgba(199, 199, 199, 0.5);
  color: whitesmoke;
}

@media (max-width: 39.9375em) {
  .header-booking #child {
    margin-right: 0;
  }
}

.header-booking #child::-webkit-input-placeholder {
  color: white;
}

.header-booking #child:-ms-input-placeholder {
  color: white;
}

.header-booking #child::-ms-input-placeholder {
  color: white;
}

.header-booking #child::placeholder {
  color: white;
}

.header-booking .search-btn > a {
  color: black;
  background-color: whitesmoke;
  padding: 0.5rem 1.25rem;
  font-weight: 700;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header-booking .search-btn > a:hover {
  background-color: #ffb647;
}

.rooms {
  margin-bottom: 2rem;
}

.rooms .cs-btn {
  text-align: center;
}

@media (max-width: 47.9375em) {
  .rooms .cs-btn {
    font-size: 1rem;
  }
}

@media (max-width: 63.9375em) {
  .rooms .room-tiles .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 47.9375em) {
  .rooms .room-tiles .grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.rooms-title {
  margin: 0 auto 5rem auto;
  width: 50%;
  font-size: 2.75rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-align: center;
}

@media (max-width: 63.9375em) {
  .rooms-title {
    font-size: 2.25rem;
    width: 75%;
  }
}

.rooms-title > p {
  margin-top: 0.5rem;
  color: #808080;
  font-size: 1rem;
  font-weight: 200;
}

@media (max-width: 63.9375em) {
  .rooms-title > p {
    font-size: 0.85rem;
  }
}

.rooms-title > hr {
  width: 0;
  border: 0;
  border-bottom: 5px solid black;
  margin: 2.5rem auto;
  -webkit-animation: hrWiden 2s ease-in-out forwards;
          animation: hrWiden 2s ease-in-out forwards;
}

.rooms-tiles {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.rooms-tiles .rooms-top {
  margin-bottom: 3rem;
}

.rooms-tiles > .grid {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 47.9375em) {
  .rooms-tiles > .grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
}

.rooms-tiles > .grid > .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@media (max-width: 47.9375em) {
  .rooms-tiles > .grid > .flex {
    margin-bottom: 3rem;
  }
}

.rooms-tiles > .grid > .flex > img {
  height: 350px;
  width: 350px;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

@media (max-width: 79.9375em) {
  .rooms-tiles > .grid > .flex > img {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 63.9375em) {
  .rooms-tiles > .grid > .flex > img {
    height: 250px;
    width: 250px;
  }
}

@media (max-width: null) {
  .rooms-tiles > .grid > .flex > img {
    height: 220px;
    width: 220px;
  }
}

@media (max-width: 47.9375em) {
  .rooms-tiles > .grid > .flex > img {
    height: 300px;
    width: 300px;
  }
}

.rooms-tiles > .grid > .flex:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.rooms-tiles > .grid > .flex .room-title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.rooms-tiles > .grid > .flex .room-price {
  color: #09c0fa;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.rooms-tiles > .grid > .flex .room-price > span:first-of-type {
  margin-right: 0.25rem;
}

.rooms-tiles > .grid > .flex .room-price > span:last-of-type {
  font-size: 1.25rem;
}

.facilities {
  padding: 1.5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../assets/royal.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/royal.jpeg);
  background-size: cover;
  background-position: center;
  color: white;
}

.facilities-grid {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 63.9375em) {
  .facilities-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.facilities-title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding: 1.5rem;
}

@media (max-width: 63.9375em) {
  .facilities-title {
    font-size: 2.25rem;
  }
}

@media (max-width: 47.9375em) {
  .facilities-title {
    font-size: 1.75rem;
  }
}

.facilities .facility {
  padding: 1.75rem;
}

@media (max-width: 63.9375em) {
  .facilities .facility {
    text-align: center;
  }
}

.facilities .facility-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

@media (max-width: 47.9375em) {
  .facilities .facility-title {
    font-size: 1.25rem;
  }
}

.facilities .facility-title > i {
  margin-right: 1.25rem;
}

.facilities .facility-body {
  font-weight: 200;
  color: #aaaaaa;
  text-align: justify;
}

@media (max-width: 47.9375em) {
  .facilities .facility-body {
    font-size: 0.75rem;
    line-height: 1.3;
  }
}

.excerpts {
  background-color: whitesmoke;
  text-align: center;
  padding: 2.5rem 0.5rem 2.5rem 0.5rem;
}

.excerpts-title {
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 2.25rem;
  letter-spacing: 2px;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 63.9375em) {
  .excerpts-title {
    margin-bottom: 1.25rem;
    font-size: 1.75rem;
  }
}

@media (max-width: 47.9375em) {
  .excerpts-title {
    font-size: 1.25rem;
  }
}

.excerpts-body {
  margin: auto;
  width: 90%;
  color: #808080;
  font-family: 'Raleway';
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

@media (max-width: 63.9375em) {
  .excerpts-body {
    width: 85%;
    font-size: 1.5rem;
  }
}

@media (max-width: 47.9375em) {
  .excerpts-body {
    font-size: 0.85rem;
  }
}

.excerpts-body > i {
  font-size: 1.75rem;
  color: #101010;
  padding: 0 1rem;
}

@media (max-width: 47.9375em) {
  .excerpts-body > i {
    font-size: 1.25rem;
  }
}

.excerpts-image .fa-chrome {
  font-size: 1.75rem;
  margin: 0.75rem 0;
}

.excerpts-image figcaption {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2.5rem;
}

@media (max-width: 47.9375em) {
  .excerpts-image figcaption {
    font-size: 0.75rem;
  }
}

#viewmore {
  border-radius: 0;
  font-size: 1.35rem;
  margin: 4.5rem 0 4.5rem 0;
}

@media (max-width: 47.9375em) {
  #viewmore {
    font-size: 1rem;
  }
}

.footer {
  padding: 1.5rem;
  text-align: center;
  background-color: #101010;
  color: white;
}

@media (min-width: 48em) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-socials {
    font-size: 2.25rem;
    margin-bottom: 0;
  }
  .footer .footer-contact {
    margin-bottom: 0;
  }
}

.footer-contact > a {
  color: #808080;
  display: block;
  margin-bottom: 1.25rem;
}

.footer-contact #footer-link {
  color: whitesmoke;
  font-family: 'Montserrat';
  font-size: 1.25rem;
  font-weight: 700;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.footer-contact #footer-link:hover {
  color: #09c0fa;
}

.footer-socials {
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer-socials > a {
  color: whitesmoke;
}

.footer-socials > a:not(:last-child) {
  margin-right: 1.25rem;
}

#footer-disclaimer {
  color: #808080;
  letter-spacing: 1px;
}
/*# sourceMappingURL=style.css.map */